ul.widget-banner-block {
    font-size: 0;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.widget.widget-banner {
    margin-bottom: 20px;
}

.panel-body {
    padding: 0px;
}

.side-heading{
    margin-bottom: 0px;
}
.side-heading a {
    color: #fffffe;
}
.panel-heading {
   padding: 0px;
}