ul.widget-banner-block {
    font-size: 0;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.widget.widget-banner {
    margin-bottom: 20px;
}

.panel-body {
    padding: 0px;
}

.side-heading{
    margin-bottom: 0px;
}
.side-heading a {
    color: #fffffe;
}
.panel-heading {
   padding: 0px;
}

.product-col .price{
    padding:10px 0;
}
.product-col .price .price-tax{
    font-size:14px;
    color:#212121;
    text-transform:uppercase;
}
.product-col .price span.price-new{
    color:#967e4b;
    font-size:24px;
    padding-right:5px;
}
.product-col .price span.price-old{
    font-size:18px;
    color:#7e7e7e;
    text-decoration:line-through;
}

.product-col .btn-wishlist,
.product-col .btn-compare{
    color:#967e4b;
    background:#fff;
    margin-left:0px;
    border:1px solid #967e4b;
}

.products-grid .product-col {
    min-height: 460px;
}

/* Block level inputs*/
.input-block-level {
    display: block;
    width: 100%;
    min-height: 28px;
    .box-sizing(border-box);
}

.product-info .product-details .price {
    display: inline;

}
.product-info .product-details .price-head {
    padding-right:10px;
    font-size:24px;
    color:#212121;
    text-transform:uppercase;
}
.product-info .product-details .price-tax{
    padding-top:5px;
    font-size:14px;
    color:#212121;
    text-transform:uppercase;
}
.product-info .product-details .regular-price .price {
    color:#967e4b;
    font-size:24px;
    padding-right:5px;
}
.product-info .product-details .price-old{
    font-size:18px;
    color:#212121;
    text-decoration:line-through;
}