<!--@subject Booking Request Contact Form@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.product":"Choosen Product",
"var data.selected_options":"Choosen Product options",
"var data.date":"Product Booking Date",
"var data.comment":"Comment"}
@-->
Name: {{var data.name}}
Email: {{var data.email}}
Telephone: {{var data.telephone}}
Product: {{var data.product}}
Date: {{var data.date}}
Options: {{var data.selected_options}}
<hr />
Comment: {{var data.comment}}