.messages {

}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    border-radius: 3px
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.bs-callout-danger .bs-callout-error {
    border-left-color: #ce4844
}

.bs-callout-danger .bs-callout-error h4 {
    color: #ce4844
}

.bs-callout-warning {
    border-left-color: #aa6708
}

.bs-callout-warning h4 {
    color: #aa6708
}

.bs-callout-info .bs-callout-notice {
    border-left-color: #1b809e
}

.bs-callout-info h4 .bs-callout-notice {
    color: #1b809e
}


.bs-callout-success {
    border-left-color: #006400
}

.bs-callout-success h4 {
    color: #006400
}